/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great|Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-family: 'Quicksand', sans-serif;
    color: #6c5f4f;
    background-color: #fff6c5;
    margin-top: 2em;
}

p, li, ul {
    font-family: 'Quicksand', sans-serif;
    color: #6c5f4f;
}

.container {
    width: 40rem;
    justify-content: center;
}

h1, h2, h3 {
    font-family: 'Josefin Slab', serif;
    color: #a08957;
}

hr {
    width: 40rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

#navbar > ul {
    margin-top: 800;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    margin-bottom: 1cm;
}

#navbar > ul > li {
    margin: 0 2em;
    display: inline-block;

    border-bottom: solid #8f7d4e 2px;
    position: relative;
}

.nav-link {
    width: 100%;
    height: 100%;
    margin: 0;
    text-decoration: none;
}

a {
    color: #8d877f;
}


#intro {
    font-size: 4em;
    text-align: center;
}


#features {
    text-align: center;
}


#blurb {
    margin-bottom: 1cm;
    align-content: center;
}

mat-expansion-panel {
    margin-bottom: 5px !important;
}

mat-expansion-panel-header {
    font-family: 'Quicksand', sans-serif !important;
    color: #8d877f;
    background-color: rgb(255, 249, 234);
    border-radius: 0 !important;
}

mat-expansion-panel-header:hover {
    background-color: rgb(255, 254, 250);
}

mat-expansion-panel-body > .content {
    font-family: 'Quicksand', sans-serif !important;
    color: #6c5f4f !important;
    background-color: rgb(255, 249, 234) !important;
}


.row {
    display: flex;
  }

  .column {
    flex: 50%;
  }