<div class="container">
    <img src="assets/coffee.png" width="150px" height="150px">
    <h1 id="intro">angelina</h1>
    <app-navbar></app-navbar>
    <a name="home"></a>
    <div id="blurb">
        <p id="aboutme">hi, i'm angelina. i'm an atl-born passionate programmer more or less attached at the hip to my keyboard. i also love art, music, travel, physics, and dance. if you can't find me, there's a good chance i'm on an airplane, but my laptop is always close at hand!</p>
        <p>
            i started out as an artist, then a writer, then a gamer, and a programmer. all of this was before middle school. these days, i am a programmer, but also a wandering nomad, travel enthusiast, avid reader, and pianist. i am outgoing, enjoy sharing meals with friends, and staying out late.
        </p>
        <p>
            i am passionate about good dessert, aesthetic bakeries, the oxford comma, and garlic powder. it is very nice to meet you :)
        </p>
    </div>
</div>